@model ALQANCHA.Models.Cancha

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cancha</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantJugadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantJugadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioXHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioXHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
