@model IEnumerable<ALQANCHA.Models.Cancha>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="admin-background">
        <h2>Listado de Canchas</h2>
        <hr />
        <p>
            <a asp-action="Create" class="btn btn-primary">Crear Nueva Cancha</a>
        </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantJugadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioXHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantJugadores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioXHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmada)
            </td>
            <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>