@model ALQANCHA.Models.Sancion

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="admin-background">
        <h2>Detalles de la Sanción</h2>
        <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaImposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaImposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jugador.Id)
        </dd>
    </dl>
        <div class="form-group mt-3 d-flex justify-content-end">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Editar</a>
            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
