@model ALQANCHA.Models.Jugador

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="admin-background">
        <h2>Eliminar Jugador</h2>
        <h3>¿Estás seguro de que deseas eliminar al Jugador?</h3>
        <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsArquero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsArquero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EsJugador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsJugador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDisponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDisponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstaSancionado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstaSancionado)
        </dd>
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group mt-3 d-flex justify-content-end">
                <input type="submit" value="Delete" class="btn btn-danger me-2" />
                <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
            </div>
        </form>
    </div>
</div>
