@model ALQANCHA.Models.Jugador

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Jugador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsArquero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsArquero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsJugador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsJugador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDisponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDisponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaSancionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstaSancionado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
